mariadb/var/lib/mysql
*.ini
webdir/.env
webdir/vendor/autoload.php
webdir/vendor/composer/autoload_classmap.php
webdir/vendor/composer/autoload_namespaces.php
webdir/vendor/composer/autoload_psr4.php
webdir/vendor/composer/autoload_real.php
webdir/vendor/composer/autoload_static.php
webdir/vendor/composer/ClassLoader.php
webdir/vendor/composer/installed.json
webdir/vendor/composer/installed.php
webdir/vendor/composer/InstalledVersions.php
webdir/vendor/composer/LICENSE
webdir/vendor/composer/platform_check.php
webdir/vendor/firebase/php-jwt/CHANGELOG.md
webdir/vendor/firebase/php-jwt/composer.json
webdir/vendor/firebase/php-jwt/LICENSE
webdir/vendor/firebase/php-jwt/README.md
webdir/vendor/firebase/php-jwt/src/BeforeValidException.php
webdir/vendor/firebase/php-jwt/src/CachedKeySet.php
webdir/vendor/firebase/php-jwt/src/ExpiredException.php
webdir/vendor/firebase/php-jwt/src/JWK.php
webdir/vendor/firebase/php-jwt/src/JWT.php
webdir/vendor/firebase/php-jwt/src/Key.php
webdir/vendor/firebase/php-jwt/src/SignatureInvalidException.php
composer/vendor/autoload.php
composer/vendor/composer/autoload_classmap.php
composer/vendor/composer/autoload_namespaces.php
composer/vendor/composer/autoload_psr4.php
composer/vendor/composer/autoload_real.php
composer/vendor/composer/autoload_static.php
composer/vendor/composer/ClassLoader.php
composer/vendor/composer/installed.json
composer/vendor/composer/installed.php
composer/vendor/composer/InstalledVersions.php
composer/vendor/composer/LICENSE
composer/vendor/composer/platform_check.php
composer/vendor/firebase/php-jwt/CHANGELOG.md
composer/vendor/firebase/php-jwt/composer.json
composer/vendor/firebase/php-jwt/LICENSE
composer/vendor/firebase/php-jwt/README.md
composer/vendor/firebase/php-jwt/src/BeforeValidException.php
composer/vendor/firebase/php-jwt/src/CachedKeySet.php
composer/vendor/firebase/php-jwt/src/ExpiredException.php
composer/vendor/firebase/php-jwt/src/JWK.php
composer/vendor/firebase/php-jwt/src/JWT.php
composer/vendor/firebase/php-jwt/src/Key.php
composer/vendor/firebase/php-jwt/src/SignatureInvalidException.php
