/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F7;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fc6508;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url(hintirezi.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    text-align: center;
}

input[type="search"] {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.featured-recipes {
    padding: 2rem;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}
.recipe-card {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.recipe-card img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
    .baggi{
        
        background-image: url(hkoch.png);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
